<% content_for :title, "Editing crop event" %>

<h1>Editing crop event</h1>

<%= render "form", crop_event: @crop_event %>

<br>

<div>
  <%= link_to "Show this crop event", @crop_event %> |
  <%= link_to "Back to crop events", crop_events_path %>
</div>
