<!-- Carregar o CSS -->
<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

<!-- Carregar o JavaScript -->
<%= javascript_include_tag "application", "data-turbo-track": "reload" %>

<!-- Conteúdo da página -->
<h1>Analytics</h1>
<p>Aqui estarão as suas análises de dados.</p>
