<!-- Carregar o CSS -->
<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

<!-- Carregar o JavaScript -->
<%= javascript_include_tag "application", "data-turbo-track": "reload" %>

<h1>Calendar</h1>
<p>Aqui estará o seu calendário.</p>
